<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil" href="/tabs/accueil">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="groupes" href="/tabs/groupes">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Groupes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ajouter" href="/tabs/ajouter" class="tab-button-primary">
      <ion-icon aria-hidden="true" name="add"></ion-icon>
      <ion-label>Ajouter</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistiques" href="/tabs/statistiques">
      <ion-icon aria-hidden="true" name="stats-chart-outline"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil" href="/tabs/profil">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
