<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="user$ | async as user; else loading">
    <h2 class="user-name">{{ user.prenom }} {{ user.nom }}</h2>
    <p class="user-email">{{ user.email }}</p>
  </ng-container>
  <ng-template #loading>
    <p class="placeholder">Chargement…</p>
  </ng-template>

  <ion-button expand="block" color="medium" (click)="logout()" class="logout-btn">
    Se déconnecter
  </ion-button>
</ion-content>
